body {
    background-color: rgb(195, 232, 245);
}
.grid {
    display: grid;
    grid-template-areas: 
    "b"
    "h"
    "v"
    "v"
    "l";
    background-color: lightblue;
    gap: 10px;
    padding: 50px;
    border: 1px solid black;
    border-radius: 5px;
}
.banner {
    place-self: center;
    grid-area: b;
}
.hello {
    place-self: center;
    grid-area: h;
}
.vid {
    place-self: center;
    grid-area: v;
}
.link {
    place-self: center;
    grid-area: l;
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border: none;
    color: black;
    background-color: rgb(195, 232, 245);
    border: 1px solid black;
    border-radius: 5px;
}
.link:hover {
    background-color: aqua;
}
iframe {
    border: 1px solid black;
    border-radius: 5px;
}
